<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Pomodoro</string>
	<key>CFBundleExecutable</key>
	<string>Pomodoro</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>local.pomodoro.app</string>
	<key>CFBundleName</key>
	<string>Pomodoro</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.1</string>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUAutomaticallyUpdate</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUEnableSystemProfiling</key>
	<false/>
	<key>SUFeedURL</key>
	<string>https://github.com/bingle625/pomodoro/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>RlD8+/c7rf2rAiHvEVbgzVBd3kO6K1Fk6z5ewd/G0PI=</string>
	<key>SURequireSignedFeed</key>
	<true/>
	<key>SUScheduledCheckInterval</key>
	<integer>3600</integer>
	<key>SUVerifyUpdateBeforeExtraction</key>
	<true/>
</dict>
</plist>
